<div class="tile is-parent is-rounded" id="carousel">
  <div class="tile is-child is-vertical-center" id="slider">
        <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img src="/images/image1.jpg" alt="image1" />
              </figure>
            </div>   
        </div>
        <div class="card ">
          <div class="card-image">
            <figure class="image is-16by9 is-covered">
              <img src="/images/image2.jpg" alt="image2" />
            </figure>
            </div>
          </div>
          <div class="card ">
            <div class="card-image">
              <p class="image is-16by9 is-covered">
                <img src="/images/image3.jpg" alt="image3" />
              </p>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>
<script src="/public/js/carousel.js"></script>


{{!-- <div class="tile is-parent">
<div class="tile is-child is-vertical is-2">
  <div id="suggestedRecipe" class="is-child box">
    <p class="subtitle has-text-centered is-3">Suggested Recipes</p>
      <p id="suggestedRecipe" class="subtitle has-text-centered is-4">
       One
      </p>
      <p class="image has-text-centered">
        <img
          id="suggestedRecipeImg"
          src="/img/placeholder-small.png"
          alt="place-holder img"
          />
      </p>
      <p id="suggestedRecipe" class="subtitle has-text-centered is-4">
        Two
      </p>
      <p class="image has-text-centered">
        <img
          id="suggestedRecipeImg"
          src="/img/placeholder-small.png"
          alt="place-holder img"
        />
      </p>
      <p id="suggestedRecipe" class="subtitle has-text-centered is-4">
        Three  
      </p>
      <p class="image has-text-centered">
        <img
          id="suggestedRecipeImg"
          src="/img/placeholder-small.png"
          alt="place-holder img"
        />
      </p>
  </div>
</div>
</div>   --}}

<div class="tile is-parent">
<h3 class="is-child is-size-3 has-text-centered mx-6">
  <span class="icon-text">
    <i class="fas fa-utensils"></i>
  </span>
  Welcome to My Menu! A searchable site to help you find and save an array of 
  recipes for your favorite appetizers, main dishes, desserts and more. 
  Search recipes for your specific preferences: whether that be cuisine, allergies, 
  number of calories, specific diets and/or health related issues. Nutritional 
  information helping you utilize food for growth, health, and medicine.</h3>
</div>

<div class="tile is-parent">
  <button class="tile is-child box is-horizontal-center is-6">

  </button>
</div>


