<h3><i class="fas fa-utensils"></i>Search recipes for your favorite appetizers, 
  main dishes, desserts and more. Find and save an 
  array of recipes based on cuisine, number of calories, 
  specific diets and/or health related issues.</h3>

