header {
  text-decoration: none;
  color: #D5D9D0;
  background-color: #35495a;
}

body {
  color: #4C6473;
  background-color: #B5BFAA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


p { 
  color: #344859, #4C6473, #94A6A6, #B5BFAA, #D5D9D0;
}




